*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
iframe.header{
    width:100%;
    height:33px;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}
.nav{
    width:100%;
    padding:15px;
}
.nav .nav_left{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    width:30%;
}
.nav .nav_left img{
    width:50px;
    height:50px;
}
.nav .nav_left span{
    margin-left: 15px;
    margin-top: 15px;
}
.nav .nav_left span h3{
    font-size:24px;
    font-weight: bold;
    color:#666;
}
.nav .nav_left span p{
    font-size: 12px;
    font-family: Arial;
    color:#5A5A5A;
}
.nav .nav_right{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:70%;
}
.nav .nav_right span a{
    color:#000;
    font-size: 15px;
    font-family: Microsoft YaHei;
}
.nav .nav_right span a:hover{
    color:#dd0000;
    font-weight: bold;
    font-size:15px;
    text-decoration: none;
}
.section-top{
    padding-top:15px;
    overflow: hidden;
}
.section-top .section-top-left{
    color:#434343;
    float:left;
    padding:0 15px;
}
.section-top .section-top-left img{
    float:left;
}
.section-top .section-top-left div{
    float:left;
}
.section-top .section-top-left span a{
    color:#434343;
    padding:0 10px;
    font-size: 14px;
    font-weight: bold;
}
.section-top-right{
     float:right;
 }
.section-top-right input{
    float:left;
}
.section-top-right img{
    height:28px;
    float:left;
}
.section .section-left{
    text-align: center;
    width:200px;
    float:left;
}
.section .section-left ul li{
    margin:15px auto;
    line-height: 40px;
    width:100%;
    height:40px;
    border:1px solid #DDDDDD;
    background-image: linear-gradient(to bottom, #FCFCFC, #F4F4F4);
}
.section .section-left a{
    color:#000;
    font-size:14px;
    text-decoration: none;
}
.section .section-left li.default{
    background-image: linear-gradient(to bottom, #da0000, #ba0000);
}
.section .section-left li.default a{
    font-weight: bold;
    color:#fff;
}
.section .section-left li:hover{
    background-image: linear-gradient(to bottom, #da0000, #ba0000);
 }
.section .section-left li:hover a{
    font-weight: bold;
    color:#fff;
}
.section .section-left .erweima1{
    font-size:14px;
    color:#5A5A5A;
    text-align: center;
    padding: 15px 0;
}
.section .section-left img{
    text-align: center;
    width:125px;
    height:125px;
}
.section .section-right{
    float:left;
    width:900px;
    border:1px solid #ddd;
    margin-top:15px;
    margin-bottom: 30px;
    margin-left:10px;
    padding:30px 50px;
}
.section .section-right ul{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}
.section .section-right li{
    display:flex;
    border-bottom: 1px dotted rgb(219, 212, 205);
    padding: 20px 0;
}
.section .section-right .section-right-left{
    width:90px;
    height:70px;
    background: #666;
    padding:15px 0;
    text-align: center;
    margin-right: 30px;
}
.section .section-right .section-right-left p:first-child{
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    height:20px;
    line-height: 20px;
    margin-bottom: 0;
}
.section .section-right .section-right-left p:last-child{
    color: #ffffff;
    font-size: 13px;
    height:20px;
    line-height: 20px;
    margin-top: 10px;
    font-family: ו;
}
.section .section-right .section-right-right{
    text-align: left;
}
.section .section-right .section-right-right a{
    display:block;
    font-size: 16px;
    color:#434343;
}
.section .section-right .section-right-right a:hover{
    text-decoration: none;
    color:rgb(204,0,0);
}
.section .section-right .section-right-right .news-section {
    font-size: 13px;
    color: #999;
    margin-bottom: 0;
    margin-top: 5px;
    line-height: 1.2rem;
}
iframe.footer{
    width:100%;
    height:295px;
    vertical-align: bottom;
}