*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
iframe.header{
    width:100%;
    height:33px;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}
/*.user-register .top{
    background:#303030;
    width:100%;
    height:32px;
    padding:0 40px;
    box-sizing: border-box;
}
.top-container{
    max-width: 1200px;
    margin:0 auto;
}
.user-register .top .top-left{
    float:left;
    color:white;
    font-size:14px;
    text-align: center;
    line-height:32px;
}
.user-register .top .top-right{
    float:right;
    text-align: center;
    line-height:32px;
}
.user-register .top .top-right a{
    color:white;
    font-size:14px;
    text-decoration: none;
    padding: 0 5px;
}*/
.user-register .section{
    width:100%;
    height:600px;
    background-image: url(../img/login_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}
/*.section:before{
    content:"";
    display:block;
    clear:both;
}*/
.section-register{
    width:350px;
    background:rgba(255,255,255,0.8);
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right:100px;
}
.user-register .section form table{
    vertical-align: middle;
    border-spacing:15px;
    width:250px;
    margin:40px auto 40px;
    border-collapse: collapse;
}

.user-register .section form table tr:first-child td:first-child{
    text-align: left;
    padding-bottom:10px;
}
.user-register .section form table tr:first-child td:nth-child(2){
    text-align: right;
    padding-bottom:10px;
}
.user-register .section form table tr:first-child td:nth-child(2) a{
    color:#5a5a5a;
}
.user-register .section form table tr td div{
    position:relative;
    border:1px solid #888;
    height:30px;
    border-radius: 4px;
}
.user-register .section form table tr td div img{
    width:20px;
    height:20px;
}
.user-register .section form table tr td div input{
    box-sizing: border-box;
    width:100%;
    height:30px;
    outline:none;
    position:absolute;
    border:0;
    background:transparent;
    margin-left: 5px;
    line-height: 30px;
}
.user-register .section form table tr td input.button{
    border:0;
    width:100%;
    height:30px;
    background:#768491;
    color:#fff;
    border-radius: 4px;
}
.user-register .section form table tr td .allspan{
    font-size: 12px;
    color:#f10215;
    margin-left: 25px;
}
iframe.footer{
    width:100%;
    height:295px;
    vertical-align: bottom;
}
@media screen and (min-width: 992px){
    iframe.footer{
        width:100%;
        margin:0 auto;
    }
}
@media screen and (max-width: 690px){
    iframe.footer{
        height:255px;
        margin:0 auto;
    }
}